.DS_Store
.vscode/settings.json
00_Graphs/__pycache__/adjacency_list.cpython-310.pyc
00_Graphs/__pycache__/adjacency_matrix.cpython-310.pyc
00_Graphs/__pycache__/test_adjacency_matrix_list.cpython-310.pyc
00_Trees_v4/__pycache__/binary_tree_visualization.cpython-310.pyc
00_Trees_v4/__pycache__/binary_tree.cpython-310.pyc
00_Trees_v4/__pycache__/node.cpython-310.pyc
00_Trees_v4/__pycache__/test_binary_tree.cpython-310.pyc
Asignment1/.DS_Store
a2/__pycache__/divconq.cpython-310.pyc
a2/__pycache__/test_usecases.cpython-310.pyc
A2DivideAndConquer/__pycache__/divconq.cpython-310.pyc
A2DivideAndConquer/__pycache__/test_private.cpython-310.pyc
A2DivideAndConquer/__pycache__/test_usecases.cpython-310.pyc
Assignment1/Assignment_template/main.aux
Assignment1/Assignment_template/main.bbl
Assignment1/Assignment_template/main.bcf
Assignment1/Assignment_template/main.blg
Assignment1/Assignment_template/main.fdb_latexmk
Assignment1/Assignment_template/main.fls
Assignment1/Assignment_template/main.log
Assignment1/Assignment_template/main.out
Assignment1/Assignment_template/main.pdf
Assignment1/Assignment_template/main.run.xml
Assignment1/Assignment_template/main.synctex.gz
Assignment2/__pycache__/divconq.cpython-310.pyc
Assignment2/__pycache__/test_private.cpython-310.pyc
Assignment2/__pycache__/test_usecases.cpython-310.pyc
a2/__pycache__/divconq.cpython-310.pyc
a2/__pycache__/test_usecases.cpython-310.pyc
Assignment2/__pycache__/divconq.cpython-310.pyc
Assignment2/__pycache__/test_private.cpython-310.pyc
Assignment2/__pycache__/test_usecases.cpython-310.pyc
